* {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: arial;
}

.button {
    padding: 0.35em 1.2em;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    text-align: center;
    transition: all 0.4s;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: gray;
}

/* Nav_Bar */

nav {
    width: 95vw;
    height: 8vh;
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    text-decoration: none;
    color: black;
}

.nav_links:hover {
    border-bottom: 2px solid black;
}

.cart_length {
    display: flex;
}

.cart_quantity {
    border: none;
    background-color: red;
    width: 1rem;
    height: 1rem;
    text-align: center;
    border-radius: 50%;
    font-size: small;
}

/* Home_Page */

.home_gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 2rem 16rem 8rem 16rem;
}

/* .home_gallery_img {
    position: relative;
    width: 300px;
    cursor: pointer;
}

.home_gallery_img:hover {
    opacity: 0.6;
    transition: 0.3s;
} */

.home_image {
    position: relative;
    width: 300px;
}

.home_gallery_img {
    display: block;
    width: 100%;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
}

.image_overlay:hover {
    opacity: 1;
    transition: 0.6s;
}

.img_header {
    margin: 2rem 5rem;
}

.intro {
    margin: 0 15rem;
    width: 65vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
}

.intro_texts {
    padding: 0 1rem;
    margin: 0 0 2rem 0;
    width: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.intro_texts:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    padding: 2rem 0 0 0;
    margin: 0 0 2rem 0;
}

.text {
    margin: 0 0 2rem 0;
}

footer {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCF6F5FF;
}

.footer_section {
    width: 40vw;
}

ul .footer_list {
    list-style: none;
    margin-top: 1rem;
}

.footer_quote {
    text-align: center;
}

/* Web_Shop */

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 2rem 0 2rem;
    border: none;
    border-bottom: 1px black solid;
}

.filter_text {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0rem 0 0rem;
}

.women_models {
    margin: 2rem 3rem;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.model_image {
    width: 300px;
    margin: 2rem 0;
}

.product_name {
    text-decoration: none;
    color: black;
    text-align: center;
    letter-spacing: 0;
    font-size: x-small;
}

.product_price {
    margin-top: 1rem;
    text-align: center;
    letter-spacing: 0;
    font-size: small;
}

/* Contact_Page */

.contact_page {
    text-align: center;
    width: 50%;
    margin: 6rem 25rem;
}

.conatact_header {
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 1rem 14rem;
    width: 40%;
}

textarea {
    height: 15vh;
    width: 30vw;
    margin: 1rem 9rem;
}

#submit_button {
    margin: 0 17rem;
    width: 20%;
}

/* Product_Page */

.prod_info {
    margin: 3rem 10rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.single_product_img {
    width: 400px;
}

.prod_desc {
    width: 50%;
}

.prod_text {
    margin: 2rem 0;
}

.prod_sizes {
    margin: 1rem 0 2rem 0;
    display: flex;
}

.prod_size {
    border: 2px black solid;
    margin: 0 4px;
    width: 40px;
}

.also_like_images {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 2rem 8rem;
}

/* Shopping_Cart */

.shopping_cart {
    margin: 2rem 22rem 2rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.cart_desc {
    width: 500px;
}

.cart_image {
    width: 180px;
}

.cart_prod_desc {
    margin: 2rem 1rem;
}

.cart_total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 4rem 0;
}

.total_price {
    margin: 0 2rem;
}

.cart_empty {
    text-align: center;
    margin: 40vh 0;
}

.button_quantity_container {
    margin: 0 0 0 10px;
}

.button_quantity {
    text-decoration: none;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.4s;
    text-align: center;
    color: black;
    padding: 0rem 0.5rem;
    margin: 0 2px;
}

.button_quantity:hover {
    color: white;
    background-color: black;
}

.size {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem 0 1rem;
}

.prod_size_cart {
    border: 2px black solid;
    margin: 0 4px;
    width: 40px;
    cursor: pointer;
} 

.prod_size_cart:hover {
    color: white;
    background-color: gray;
}

hr {
    width: 45%;
    margin: 0 22rem;
}

/* .button {
    padding: 0.35em 1.2em;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    text-align: center;
    transition: all 0.4s;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: gray;
} */

@media only screen and (max-width: 480px) {
    * {
        padding: 0;
        margin: 0;
    }

    /* Home_Page */

    nav {
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    nav ul {
        text-align: center;
        width: 100%;
        margin: 1rem 0 1rem 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        margin-top: 1rem;
    }
    
    .nav_links:hover {
        border-bottom: 2px solid black;
    }

    .img_header {
        margin: 1rem 0 0 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .intro {
        margin: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .intro_texts {
        padding: 2rem 1rem 4rem 1rem;
        margin: 2rem 4rem;
        width: 60vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    .title {
        text-align: center;
        padding: 0 0 0 0;
        margin: 0 0 2rem 0;
    }

    footer {
        height: 50vh;
        display: flex;
        flex-direction: column;
        background-color: #FCF6F5FF;
        text-align: center;
    }
    
    .footer_section {
        width: 100%;
    }
    
    ul .footer_list {
        list-style: none;
        margin-top: 1rem;
    }
    
    .footer_quote {
        text-align: center;
        margin: 2rem 0 0 0;
    }

    .home_gallery {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .home_image {
        position: relative;
        width: 70%;
        margin: 1rem 5rem;
    }

    /* Web_Shop */

    .filters {
        display: flex;
        flex-direction: column;
    }
    
    .search_bar {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 1rem 0 1rem;
        border: none;
        border-bottom: 1px black solid;
    }
    
    .filter_text {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 0 0;
    }

    .women_models {
        margin: 2rem 3rem;
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .model_image {
        width: 70%;
        margin: 4rem 0 0 4rem;
    }
    
    #product_name {
        margin: 2rem 0 0 0;
        font-size: small;
    }

    .product_container {
        margin: 1rem 0 1rem 0;
    }

    /* Contact_Page */

    .contact_page {
        text-align: center;
        width: 100%;
        margin: 5rem 0;
    }
    
    .conatact_header {
        margin: 2rem 0;
        font-size: small;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    input {
        margin: 1rem 6rem;
        width: 50%;
    }
    
    textarea {
        height: 15vh;
        width: 90vw;
        margin: 2rem 1rem;
    }
    
    #submit_button {
        margin: 0 8rem;
    }

    /* Product_Page */

    .prod_info {
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
    }
    
    .single_product_img {
        width: 80%;
        margin: 0 4rem 4rem;
    }
    
    .prod_desc {
        width: 100%;
        margin: 0 2rem;
    }

    .also_like_images {
        display: flex;
        width: 85%;
        flex-direction: column;
        margin: 2rem 0;
    }

    /* Carting_Shop */

    .shopping_cart {
        margin: 5rem 4rem;
        display: flex;
        flex-direction: column;
    }
    
    .cart_desc {
        width: 100%;
    }
    
    .cart_image {
        width: 180px;
    }
    
    .cart_prod_desc {
        font-size: small;
        margin: 1rem 0;
    }
    
    .cart_total {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 4rem 0;
    }
    
    .total_price {
        margin: 0 2rem;
    }
    
    .cart_empty {
        text-align: center;
        margin: 40vh 0;
    }
    
    .button_quantity_container {
        margin: 1rem 4px;
    }
    
    .button_quantity {
        text-decoration: none;
        border: 2px solid black;
        cursor: pointer;
        transition: all 0.4s;
        text-align: center;
        color: black;
        padding: 0rem 0.5rem;
        margin: 0 5px;
    }
    
    .button_quantity:hover {
        color: white;
        background-color: black;
    }

    #prod_sizes {
        margin: 1rem 0 2rem 0;
        display: flex;
        flex-direction: column;
    }
    
    .size {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 0 1rem;
    }
    
    .prod_size_cart {
        border: 2px black solid;
        margin: 1px 2px;
        width: 40px;
        cursor: pointer;
    } 

    .cart_total {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: 2rem;
    }

    .total_price {
        margin: 2rem 2rem;
    }

  }